* {
  font-family: sans-serif;
}

.input-like {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  display: inline-block;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

input,
.input-like {
  width: 23px;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  padding: 0;
  text-align: center;
  margin: 4px 2px;
}

span,
input {
  font-size: 15px;
}

input:hover {
  border: 1px solid rgba(0, 0, 0, 0.24);
}

input:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.48);
}

.error {
  visibility: hidden;
  color: red;
  font-size: 13px;
}

input:invalid {
  box-shadow: none;
  border: 1px solid #f10;
}

input:invalid ~ p {
  visibility: visible;
}
